*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.selections{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 20px 20px;
}

.selection{
   background: none;
    border: none;
    outline: none;
    font-size: 50px;
    cursor: pointer;
    transition: 200ms;
}

.selection:hover{
    transform: scale(1.4);
}

.results{
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    font-size: 35px;
}

.result-score{
    font-size: 0.7em;
    font-weight: 500;
}

h2{
    text-align: center;
    color: teal;
    font-weight: 300;
}

.result-selection {
    opacity: .5rem;   
}

.result-selection.winner{
    opacity: 1;
    font-size: 1.2em;
}